{% extends 'shared/base.html' %}

{% block content %}
<div class="container">
    <a href="{% url 'app:archived_medicine' %}"><i class="fas fa-arrow-alt-circle-left fa-2x pageFas float-right mr-5"></i></a>
    <h2>Archived Medication</h2>
    <p>Click one below to view more details</p>
    {%for medicine in medicines %}
    <div>
        <ul class="list-group list-group-flush entryList">
            <li class="list-group-item list-group-item-action">
                <div class="d-flex flex-wrap p-1 m-2">
                <a href="{% url 'app:medicine_detail' medicine.id %}">
                <div>
                    <div class="medicineList_name">
                        <h5>{{ medicine.name }}</h5>
                    </div> 
                    <div>
                        <div class="medicineList">
                            <p>{{ medicine.dosage }}</p>
                        </div>
                        <div class="medicineList_date">
                          <p>{{ medicine.frequency }}</p>
                        </div>
                    </div>
                </div>
                    <div class="d-flex flex-wrap">
                    <div class="medicineList_date">
                        <p>Start date: {{ medicine.start_date }}</p>
                    </div>
                    <div class="medicineList_date">
                        <p>End date: {{ medicine.end_date }}</p>
                    </div>
                </a> 
                </div> 
            </li>
        </ul>
    </div>
        {% endfor %}
</div>

{% endblock content %}