{% extends 'shared/base.html' %}

{% block content %}
<div class="container">
    <a href="{% url 'app:archived_medicine' %}"><i class="fas fa-arrow-alt-circle-left fa-2x pageFas float-right mr-5"></i></a>
    <h2>Archived Medication</h2>
    <p>Click one below to view more details</p>
    {%for medicine in medicines %}
    <div clas="d-flex flex-wrap">
        <ul class="list-group list-group-flush entryList">
        <a href="{% url 'app:medicine_detail' medicine.id %}">
        <li class="list-group-item list-group-item-action">
        <div class="d-flex flex-wrap p-1 m-2">
            <h5 class="mr-5">{{ medicine.name }}</h5>
            <p class="ml-5 mr-5">Dosage: {{ medicine.dosage }}</p>
            <p>Frequency: {{ medicine.frequency }}</p>
        </div>
        <div class="d-flex flex-wrap">
            <div class="medicineList_date">
                <p>Start date: {{ medicine.start_date }}</p>
            </div>
            <div class="medicineList_date">
                <p>End date: {{ medicine.end_date }}</p>
            </div>
        </div> 
        </li>
        </a>
        </ul>
    </div>
    {% endfor %}
</div>

{% endblock content %}