{% extends 'shared/base.html' %}

{% block content %}
<div>
    <a href="{% url 'app:medicines' %}"><i class="fas fa-arrow-alt-circle-left fa-2x pageFas float-right mr-5"></i></a>
    <h2>Archived Medication</h2>
    <p>Click one below to view more details</p>
    {%for medicine in medicines %}
        {% if medicine.end_date is not false %}
    <div>
        <ul class="list-group list-group-flush entryList">
        <a href="{% url 'app:medicine_detail' medicine.id %}">
            <li class="list-group-item list-group-item-action">
                <div class="d-flex flex-wrap">
                    <div class="medicineList_name">
                        <p>{{ medicine.name }}</p>
                    </div> 
                    <div class="medicineList">
                        <p>{{ medicine.dosage }}</p>
                    </div>
                    <div class="medicineList_date">
                    <p>{{ medicine.frequency }}</p>
                </div>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="medicineList_date">
                        <p>Start date: {{ medicine.start_date }}</p>
                    </div>
                    <div class="medicineList_date">
                        <p>End date: {{ medicine.end_date }}</p>
                    </div>
                </div>  
            </li></a>
        </ul>
    </div>
        {% endif %}
        {% endfor %}
</div>

{% endblock content %}