{% extends 'shared/base.html' %}

{% block content %}
<div>
<a href="{% url 'app:achived_medicines'  %}"><i class="fas fa-arrow-alt-circle-left fa-2x pageFas float-right mr-5"></i></a>
    <h2>{{ medicine.name }}</h2>
    <div class="d-flex flex-wrap">
        <p class="medicineKeys">Dosage:</p> <p>{{ medicine.dosage }}</p>
    </div>
    <div class="d-flex flex-wrap">
        <p class="medicineKeys">Frequency:</p> <p>{{ medicine.frequency }}</p>
    </div>
    <div class="d-flex flex-wrap">
        <p class="medicineKeys">Start date:  <p>{{ medicine.start_date }}</p>
     </div>
        {% if medicine.end_date %}
    <div class="d-flex flex-wrap">
        <p class="medicineKeys">End date:  <p>{{ medicine.end_date }}</p>
    </div> 
        {% endif %}
        {% if medicine.comments %}
    <div class="d-flex flex-wrap">
        <p class="medicineKeys">Comments:  <p>{{ medicine.comments }}</p>
     </div>
        {% endif %}
        {% if medicine.uploadImg %}
     <div class="d-flex flex-wrap maxImgWidth">
       <img src="{{ medicine.uploadImg }}"  alt="{{ medicine.name }}"" />
       {% endif %}
     </div>
</div>

{% endblock content %} 