{% extends 'shared/base.html' %}

{% block content %}
<div>
    <h2>List of Current Medication</h2>
    <p>Click one below to view more details</p>
    <div class="d-flex flex-wrap">
        <div class="col-3">Name:</div>
        <div class="col-2">Start Date:</div>
        <div class="col-4">Frequency:</div>   
    </div>
    {%for medicine in medicines %}
        {% if medicine.end_date is false %}
    <a href="{% url 'app:medicine_detail' medicine.id %}">
    <div class="d-flex flex-wrap">
        <ul class="list-group list-group-flush entryList">
            <li class="list-group-item list-group-item-action d-flex flex-wrap medHover">
                <div class="col-3">
                    <p>{{ medicine.name }}</p>
                </div> 
                <div class="col-2">
                    <p>{{ medicine.dosage }}</p>
                </div>
                <div class="col-4">
                    <p>{{ medicine.frequency }}</p>
                </div>
            </li></a>
        </ul>
    </div>
        {% endif %}
        {% endfor %}
</div>

{% endblock content %}