{% extends 'shared/base.html' %}

{% block content %}
<div>
    <a href="{% url 'app:medicine_form' %}"><i class="fas fa-plus-circle fa-2x float-right mr-5 pageFas"></i></a>
    <h2>Current Medications</h2>
    <p>Click one below to view more details</p>
    {%for medicine in medicines %}
        {% if medicine.end_date is false %}
    <a href="{% url 'app:medicine_detail' medicine.id %}">
        <ul class="list-group list-group-flush entryList">
            <li class="list-group-item list-group-item-action">
            <div class="d-flex flex-wrap">
                <div class="medicineList_name">
                    <p>{{ medicine.name }}</p>
                </div> 
                <div class="medicineList">
                    <p>{{ medicine.dosage }}</p>
                </div>
                <div class="medicineList">
                    <p>{{ medicine.frequency }}</p>
                </div>
            </div>
            </li>
        </ul></a>
        {% endif %}
        {% endfor %}
</div>

{% endblock content %}