{% extends 'shared/base.html' %}

<script>
{% block jquery %}

var endpoint = '/api/data/'
var defaultData = []
var labels = []
var colors = []
$.ajax({
    method: "GET", 
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        colors = data.colors
        setChart()
    }
   
})

function setChart(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    labels: labels,
    display: true,
    datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: colors,
            }],
        }
    })
       
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
      


{% endblock %}
</script>


{% block content %}
 <div class="container">
    <div>
        <h1 class="welcome text-center">Welcome, {{user.first_name}} {{user.last_name}}!</h1>
    </div>
    <div class="d-flex flex-wrap justify-content-between">
            <div class='charts mt-5'>
                <a href="{% url 'app:entries' %}"><h2 class="text-center">Symptoms Overview</h2>
                <p class='text-center'>View Sypmtom Entries</p></a>
                <canvas id="myChart" class="charts"></canvas>
            </div>
        <div class="divWidth">
            <a href="{% url 'app:medicines' %}"><h2 class="text-center mt-5">Current Medicine</h2>
            <p class='text-center'>View Current Medication List</p>
            <img class="homeMed" src="../static/images/drug.png" alt="medication list icon"></a>
        </div>
    </div>
</div> 


{% endblock content %}