{% extends 'shared/base.html' %}

<script>
{% block jquery %}
Chart.defaults.global.legend.display = false;
var endpoint = '/api/data/'
var defaultData = []
var labels = []
var colors = []
$.ajax({
    method: "GET", 
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data.default
        colors = data.colors
        setChart()
    }
   
})

function setChart(){
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
    labels: labels,
    options: {
            legend: {
             display: false
            }
        },
    datasets: [{
            label: '# of Votes',
            data: defaultData,
            backgroundColor: colors,
            }],
        }
    })
       
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
      


{% endblock %}
</script>


{% block content %}
    
<h1>Welcome, {{user.first_name}} {{user.last_name}}!</h1>
<div class="d-flex flex-wrap">
    <div>
        <div class='charts m-5'>
        <h2 class="text-center">Symptoms Overview</h2>
        <canvas id="myChart" class="charts"></canvas>
    </div>
    </div>
</div>


{% endblock content %}